:root{
    --fundo:#E6E6FA;
    --frente-cartao:#6959CD;
    --verso-cartao:#7B68EE;
    --destaque:#483D8B;
    --preto:#D8BFD8;

}
body{
    background-color: var(--fundo);

}
footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color:var(--branco);
    width: 100%;
    text-align: center;
}

#container{
padding: 4rem;
display: flex;
gap: 3rem;
flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}
