:root{
    --fundo:#191970;
    --frente-cartao:#6959CD;
    --verso-cartao:#7B68EE;
    --destaque:#483D8B;
    --preto:#D8BFD8;

}
body{
    background-color: var(--preto);

}
footer{
    position: fixed;
    bottom: 0;
    color:var(--branco);
    width: 100%;
    text-aling:center;
    


}